<div id="content" class="p-4 p-md-5" style="margin-left: 18%">
  <button
    class="btn btn-success"
    style="position: absolute; top: 7%; right: 7.5%"
    (click)="openClose()"
  >
    <i class="bi bi-plus-circle"></i>
    Dodaj obavijest
  </button>
  <h2 class="mb-4" style="margin-left: 1%; width: fit-content">Novosti</h2>
  <div class="news">
    <div
      class="newsBox"
      *ngFor="let o of obavijesti"
      [style.background-image]="'url(' + getSliku(o.id) + ')'"
    >
      <button
        class="btn btn-primary"
        (click)="readFullContent(o.id)"
        style="
          float: right;
          border-top-right-radius: 0;
          border: none;
          background-color: rgba(0, 0, 0, 0.7);
        "
      >
        Pročitaj više...
      </button>
      <h4
        class="news-title"
        style="
          background-color: rgba(0, 0, 0, 0.7);
          width: fit-content;
          padding: 1px;
        "
      >
        {{ o.tip }}
      </h4>
      <p
        class="news-content"
        style="
          color: white;
          background-color: rgba(0, 0, 0, 0.7);
          margin-top: 20%;
          padding: 1%;
        "
      >
        {{ o.sadrzaj.substr(0, 190) }}...
      </p>
    </div>
  </div>
  <div
    class="modal fade show"
    id="exampleModalLive"
    tabindex="-1"
    role="dialog"
    aria-modal="true"
    style="display: block"
    *ngIf="!!success"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="exampleModalLabel">
            Nova obavijest
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="openClose()"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Form to add new article -->
          <form>
            <div class="mb-3">
              <label for="article-title" class="form-label">Naslov</label>
              <input
                type="text"
                class="form-control"
                id="article-title"
                [(ngModel)]="title"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="mb-3">
              <label for="article-type" class="form-label">Tip</label>
              <input
                class="form-control"
                type="text"
                id="article-type"
                [(ngModel)]="type"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="mb-3">
              <label for="article-content" class="form-label">Sadržaj</label>
              <textarea
                class="form-control"
                id="article-content"
                rows="3"
                [(ngModel)]="content"
                [ngModelOptions]="{ standalone: true }"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="article-photo" class="form-label">Slika</label>
              <input
                type="file"
                class="form-control"
                id="article-photo"
                (change)="onFileChange($event)"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="openClose()">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            type="submit"
            (click)="addNew()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Procitaj vise -->
  <div
    class="modal fade show"
    id="showNews"
    tabindex="-1"
    aria-modal="true"
    *ngIf="!!showMore"
    style="display: block"
  >
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #1d1919">
        <div class="modal-header border-0">
          <h5 class="modal-title text-white" id="exampleModalLabel">
            {{ picked.naslov }}
          </h5>

          <button
            type="button "
            class="btn-close bg-white"
            aria-label="Close"
            (click)="show()"
          ></button>
        </div>
        <div class="modal-body">
          <h6 class="text-white">
            Datum objave: {{ picked.datumObjave | date : "dd/MM/yyyy" }}
          </h6>
          <img
            src="{{ getSliku(picked.id) }}"
            class="img-fluid mb-3"
            alt="Article Image"
            style="width: 100%"
          />
          <p class="text-white">
            {{ picked.sadrzaj }}
          </p>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-danger"
              (click)="deletePicked(picked.id)"
            >
              Obriši
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
