<div id="content" class="p-4 p-md-5" style="margin-left: 16%">
  <button
    class="btn btn-success"
    style="position: absolute; top: 7%; right: 7.5%"
    (click)="openClose()"
  >
    <i class="bi bi-plus-circle"></i>
    New article
  </button>
  <h2 class="mb-4" style="margin-left: 1%; width: fit-content">News</h2>
  <div class="news">
    <div
      class="newsBox"
      (click)="readFullContent(o.id)"
      *ngFor="let o of obavijesti"
      [style.background-image]="'url(' + getSliku(o.id) + ')'"
    >
      <h4
        class="news-type"
        style="
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 1px;
        "
      >
        {{ o.tip }}
      </h4>
      <p
        class="news-content"
        style="
          color: white;
          background-color: rgba(0, 0, 0, 0.7);
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 1%;
        "
      >
        {{ o.sadrzaj.substr(0, 190) }}...
      </p>
    </div>
  </div>
  <div
    class="modal fade show"
    id="exampleModalLive"
    tabindex="-1"
    role="dialog"
    aria-modal="true"
    style="display: block"
    *ngIf="!!success"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="exampleModalLabel">
            New article
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="openClose()"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Form to add new article -->
          <form [formGroup]="forma">
            <div class="mb-3">
              <label for="article-title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="article-title"
                formControlName="title"
              />
              <div
                *ngIf="
                  forma.get('title')?.invalid && forma.get('title')?.touched
                "
                class="text-danger"
              >
                Title is required !
              </div>
            </div>
            <div class="mb-3">
              <label for="article-type" class="form-label">Type</label>
              <input
                class="form-control"
                type="text"
                id="article-type"
                formControlName="type"
              />
              <div
                *ngIf="forma.get('type')?.invalid && forma.get('type')?.touched"
                class="text-danger"
              >
                Choose the type !
              </div>
            </div>
            <div class="mb-3">
              <label for="article-content" class="form-label">Content</label>
              <textarea
                class="form-control"
                id="article-content"
                rows="3"
                formControlName="content"
              ></textarea>
              <div
                *ngIf="
                  forma.get('content')?.invalid && forma.get('content')?.touched
                "
                class="text-danger"
              >
                PLease enter content!.
              </div>
            </div>
            <div class="mb-3">
              <label for="article-photo" class="form-label">Photo</label>
              <input
                type="file"
                class="form-control"
                formControlName="photo"
                id="article-photo"
                (change)="onFileChange($event)"
              />
              <div
                *ngIf="
                  forma.get('photo')?.invalid && forma.get('photo')?.touched
                "
                class="text-danger"
              >
                Choose article photo.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <app-loading *ngIf="isLoading" class="loading-spinner"></app-loading>

          <button type="button" class="btn btn-secondary" (click)="openClose()">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            type="submit"
            (click)="addNew()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Procitaj vise -->
  <div
    class="modal fade show"
    id="showNews"
    tabindex="-1"
    aria-modal="true"
    *ngIf="!!showMore"
    style="display: block"
  >
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #1d1919">
        <div class="modal-header border-0">
          <h5 class="modal-title text-white" id="exampleModalLabel">
            {{ picked.naslov }}
          </h5>

          <button
            type="button "
            class="btn-close bg-white"
            aria-label="Close"
            (click)="show()"
          ></button>
        </div>
        <div class="modal-body">
          <h6 class="text-white">
            Date: {{ picked.datumObjave | date : "dd/MM/yyyy" }}
          </h6>
          <img
            src="{{ getSliku(picked.id) }}"
            class="img-fluid mb-3"
            alt="Article Image"
            style="width: 100%"
          />
          <p
            class="text-white"
            style="overflow: hidden; text-overflow: ellipsis"
          >
            {{ picked.sadrzaj }}
          </p>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-danger"
              (click)="deletePicked(picked.id)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
