*{
    margin: 0;
}
body{

  height: 100%;
  width: 100%;
background-color: green;
}
.sidemenu{
  height: 100%;
  background-color: red;
}
.wrapper{
  background-color: red;
  height: 100%;
}
.right{
  width: 100%;
}