<div class="container rounded text-black pb-4" style="background-color: #fff">
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    style="margin-left: 96%; margin-top: 2%; margin-top: 2%"
    (click)="popUpRef.close()"
  ></button>
  <div class="row" style="margin-left: 5%">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          *ngIf="radnik != null"
          class="rounded-circle mt-3 border border-dark"
          width="150px"
          height="150px"
          [src]="radnik.id ? getSliku(radnik.id) : ''"
        /><span class="font-weight-bold"
          >{{ radnik.ime }} {{ radnik.prezime }}</span
        ><span class="text- #FF0000-50">{{ radnik.email }}</span
        ><span> </span>
      </div>
    </div>
    <div class="col-md-8 border-right">
      <div class="kolone">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">User data</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Name</label
            ><input
              type="text"
              class="form-control"
              value="{{ radnik.ime }}"
              disabled
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Surname</label
            ><input
              type="text"
              class="form-control"
              value="{{ radnik.prezime }}"
              disabled
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Phone number</label
            ><input
              type="text"
              class="form-control"
              value="{{ radnik.brojTelefona }}"
              disabled
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Email</label
            ><input
              type="text"
              class="form-control"
              value="{{ radnik.email }}"
              disabled
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Role</label
            ><input
              type="text"
              class="form-control"
              value="{{ ulogaString }}"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
