<section class="gradient-form" style="background-color: #070404">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="sadrzaj" style="width: 80%; height: 25%">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div
              class="col-lg-6"
              style="
                background-image: url('../../../assets/leftLogin.jpg');
                background-size: cover;
                color: #ff0000;
                font-weight: bold;
              "
            >
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="assets/logo.png" style="width: 200px" alt="logo" />
                  <h4
                    class="mt-1 ml-5 mb-5 pb-1"
                    style="background-color: #070404; width: fit-content"
                  >
                    We are Gym Team
                  </h4>
                </div>

                <form [formGroup]="forma" (ngSubmit)="loginUser(forma.value)">
                  <p style="background-color: #070404; width: fit-content">
                    Please login to your account
                  </p>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="form2Example11"
                      class="form-control"
                      placeholder="email"
                      formControlName="email"
                    />
                    <label class="form-label" for="form2Example11">Email</label>
                  </div>

                  <div class="form-outline mb-1">
                    <input
                      type="password"
                      id="form2Example22"
                      class="form-control"
                      placeholder="lozinka"
                      formControlName="lozinka"
                    />
                    <label class="form-label" for="form2Example22"
                      >Lozinka</label
                    >
                  </div>
                  <a class="text-#FF0000">Zaboravili ste šifru?</a>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      class="btn btn-primary btn-block"
                      type="submit"
                      style="
                        background-color: #ff0000;
                        color: black;
                        border: black;
                        font-weight: bold;
                      "
                    >
                      Log in
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="col-lg-6 d-flex align-items-center gradient-custom-2"
              style="
                background-image: url('../../../assets/loginGYMTEAM.jpg');
                background-size: cover;
              "
            >
              <div class="px-3 py-4 p-md-5 mx-md-4" style="color: #ff0000">
                <h4 class="mb-4" style="background-color: #070404">
                  We are more than just a company
                </h4>
                <h2
                  class="small mb-0"
                  style="background-color: #070404; width: fit-content"
                >
                  Postani dio velike Gym Team familije
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
