<div id="content" class="p-4 p-md-5" style="margin-left: 18%">
  <div
    class="noviBtn"
    type="button"
    style="
      color: white;
      padding: 1%;
      background-color: #f8b739;
      border-radius: 7px;
      margin-bottom: 2%;
      width: 15%;
      margin-left: 1%;
    "
  >
    <i class="bi bi-plus-circle"></i>
    Dodaj novu lokaciju
  </div>
  <div class="lokacije">
    <div class="lokBox" *ngFor="let x of locations">
      <img src="{{ getImage(x.id) }}" />
      <h5
        class="naziv"
        (click)="viewMore(x.id)"
        style="color: #f8b739; font-weight: bold; cursor: pointer"
      >
        {{ x.naziv }}
      </h5>
    </div>
  </div>
  <div
    class="modal mt-5"
    id="mapModal"
    tabindex="-1"
    style="display: block"
    *ngIf="!!showMore"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="mapModalLabel">
            {{ selectedLocation.naziv }}
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="openClose()"
          ></button>
        </div>
        <div class="modal-body">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>
