<div id="content" class="p-4 p-md-5" style="margin-left: 18%">
  <div
    class="noviBtn"
    type="button"
    style="
      color: white;
      padding: 1%;
      background-color: #f8b739;
      border-radius: 7px;
      margin-bottom: 2%;
      width: 15%;
      margin-left: 1%;
    "
  >
    <i class="bi bi-plus-circle"></i>
    Dodaj novu lokaciju
  </div>
  <div class="lokacije">
    <!-- <div class="lokBox" *ngFor="let x of lokacija"> -->
    <div class="lokBox">
      <img src="../../../assets/LocMo.jpg" />
      <h5 class="naziv" style="color: #f8b739; font-weight: bold">
        <!-- {{ x.naziv }} -->
        GymTeam Mostar
      </h5>
    </div>
    <div class="lokBox">
      <img src="../../../assets/locSa.jpg" />
      <h5 class="naziv" style="color: #f8b739; font-weight: bold">
        <!-- {{ x.naziv }} -->
        GymTeam Sarajevo
      </h5>
    </div>
    <div class="lokBox">
      <img src="../../../assets/LocZE.jpg" />
      <h5 class="naziv" style="color: #f8b739; font-weight: bold">
        <!-- {{ x.naziv }} -->
        GymTeam Zenica
      </h5>
    </div>
    <div class="lokBox">
      <img src="../../../assets/LocTuz.jpg" style="height: 270px" />
      <h5 class="naziv" style="color: #f8b739; font-weight: bold">
        <!-- {{ x.naziv }} -->
        GymTeam Tuzla
      </h5>
    </div>
  </div>
</div>
