<div class="container rounded bg-dark text-light">
  <button
    type="button"
    class="btn-close btn-close-white position-absolute top-0 end-0 m-3"
    aria-label="Close"
    (click)="popUpRef.close()"
  ></button>
  <div class="row justify-content-center">
    <div class="col-md-3 border-end">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150"
          src="../../../assets/user_empty.jpg"
        />
        <span></span>
        <input type="file" style="margin-top: 10px" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="py-5">
        <h4 class="text-center">Podaci o korisniku</h4>
        <form [formGroup]="forma" (ngSubmit)="saveUser(forma.value)">
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="form-label">Ime</label>
              <input type="text" class="form-control" formControlName="ime" />
            </div>
            <div class="col-md-6">
              <label class="form-label">Prezime</label>
              <input
                type="text"
                class="form-control"
                formControlName="prezime"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="form-label">Broj telefona</label>
              <input
                type="text"
                class="form-control"
                formControlName="brojTelefona"
              />
            </div>
            <div class="col-md-12">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" formControlName="email" />
            </div>
            <div class="col-md-12">
              <label class="form-label">Lozinka</label>
              <input
                type="password"
                class="form-control"
                formControlName="lozinka"
              />
            </div>
            <div class="col-md-12">
              <label class="form-label">Uloga</label>
              <select
                name="bilosta"
                id=""
                class="form-select"
                formControlName="roleId"
              >
                <option [value]="role.GuestUser">Gost</option>
                <option [value]="role.Admin">Admin</option>
                <option [value]="role.Employee">Radnik</option>
              </select>
            </div>
            <div class="col-md-12">
              <label class="form-label">Datum rođenja</label>
              <input
                type="date"
                class="form-control"
                formControlName="datumRodjenja"
              />
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary mt-3" type="submit">
                <i class="bi bi-check-circle"></i> Spremi
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
