body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
  overflow: hidden;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #f8b739;
  text-decoration: none;
  font-size: 20px;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: white;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.heading-section small {
  font-size: 18px;
}

.wrapper {
  width: 100%;
}

@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -300px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}
@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.btn.btn-primary {
  background: #f8b739;
  border-color: #f8b739;
}
.btn.btn-primary.clicked {
  background-color: green;
  border-color: green;
}

router-outlet + * {
  width: 100%;
  margin: 0;
  height: 100%;
}
.infocontent {
  background-image: url("../../../assets/background_content.jpg");
  width: 100%;
  color: #f8b739;
  background-size: cover;
}
.infocontent h4 {
  color: #f8b739;
}
input[type="file"] {
  margin-top: 20%;
  margin-left: 30%;
}
